.slider {
  position: relative;
  height: 510px;

  .imageContainer {
    position: relative;
    width: 100%;
    height: auto;
    content: (" ");
  }

  .leftArrow {
    font-size: 2rem;
    cursor: pointer;
  }

  .rightArrow {
    font-size: 2rem;
    cursor: pointer;
  }

  .inactive {
    // transition: ease-in-out opacity 100ms;
    display: none;
    opacity: 0;
  }

  .image {
    width: 100%;
    height: 100%;
    border-radius: 22px;
    box-shadow: 12px 11px 8px rgba(0, 0, 0, 0.25);
  }

  @keyframes slideRight {
    0% {
      height: 100%;
      width: 0;
      opacity: 0;
    }
    50% {
      width: 50%;
      opacity: 0.5;
    }
    100% {
      width: 100%;
      opacity: 1;
    }
  }

  @keyframes slideLeft {
    0% {
      height: 100%;

      opacity: 0;
    }
    50% {
      width: 50%;
      opacity: 0.5;
    }
    100% {
      width: 100%;
      opacity: 1;
    }
  }

  .sliderRight {
    transition: ease-in-out width 100ms;
    animation-duration: 0.4s;
    animation-name: slideRight;
  }

  .itemWrapp {
    top: 20px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 80%;

    height: 30rem;
  }

  @media only screen and (max-width: 600px) {
    .image {
      width: 100%;
      height: 15rem;
    }
    .hiddenObjectWrapp {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      height: 100%;
      width: 100%;
      z-index: 99;
      left: 0;
      top: 0;
      position: absolute;
    }
    .hiddenObject {
      opacity: 0;
      width: 50%;
      height: 100%;
    }
  }
}
